body {
    padding-top: 60px;
    padding-bottom: 40px;
}

div.container a.brand {
    background: no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.magnet-link
{
    background-image: url("../img/magnet.png");
    width: 17px;
    height: 15px;
    display: block;
}

.rss-link
{
    background-image: url("../img/rss.png");
    width: 17px;
    height: 15px;
    display: block;
}

.seeds
{
    color: green;
}

.peers
{
    color: red;
}

.icon-facebook
{
    background: url("../img/icon-facebook.png") 0px 0px;
}

.icon-google
{
    background: url("../img/icon-google.png") 0px 0px;
}

.search-button
{
    width: 175px;
}

#search-addition
{
    width: 290px;
    text-align: left;
}

span.default_search
{
    color: #AAAAAA;
}